.directory
.idea
*.log

*.xml

*.iml

*.vpp.bak_*

*.class

*.lck

BarBestial/out/test/BarBestial/packModelo/AnimalFactoryTest\.java

BarBestial/\.extract/logs/

BarBestial/\.extract/

*.kotlin_module
